body{
  background-color: #23252c;
  color: white;
  font-family: Inter, sans-serif;
}

#root{
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.info-button-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.button{
  display:flex;
  align-items:center;
  justify-content: center;

  background-color: #5093E2;
  border: 1px solid #5093E2;
  color: #ffffff;
  border-color: #5093E2;

  margin:10px;
  width: 100%;
  cursor: pointer;
  outline: 0;
  color: #fff;
  font-weight: 400;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 6px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
} */

.button-alt{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-color: #ffffff;
}

/* .button-alt:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
} */

.button > span{
  margin-left:8px;
}

header > img{
  width: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-container{
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 300px;
  background: #1A1B21;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.info-item{
  padding:4px 0;
  font-size: .8rem;
}

.info-h1{
  font-weight: bold;
  font-size: 25px;
}

.info-title{
  color: #F3BF99;
}

.about,.interests{
  font-size: .8rem;
  line-height: 150%;
  padding: 0 20px;
}

.about h2,.interests h2{
  font-weight: bold;
  font-size: 21px;
  margin:16px 0;
}

.footer{
  font-size: 10px;;
  display:flex;
  align-items: end;
  height: 40px;
  margin-top: 20px;;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color:#161619;
}